<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="design.css" rel="stylesheet">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.14.0-beta3/dist/css/bootstrap-select.min.css">
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <!--
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js" integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2" crossorigin="anonymous"></script>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    -->
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.14.0-beta3/dist/js/bootstrap-select.min.js"></script>
<style>
    h1   {text-align:left;}
    th   {text-align: center;}
    table {margin: auto;}
    h3 {text-align: center;}
</style>
</head>
<body>
  <%- include("nav") %>

  <br>
  <h1> <u>GamiRev Badges:</u> </h1>
<div>
    <br>
    <h3>all-time badges</h3>
    <table class="table table-bordered table-hover border-dark w-auto text-center">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Rank</th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td style="background-color:#CD7F32 ;" > Bronze</td>
            <td>Small Contributer</td>
            <td>Created 5 Reviewes</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td style="background-color:#C0C0C0 ;">Silver</td>
            <td>Medium Contributer</td>
            <td>Created 20 Reviews</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td style="background-color:#FFD700 ;">Gold</td>
            <td>Major Contributer</td>
            <td>Created 50 Reviews</td>
        </tr>
        <tr>
            <th scope="row">4</th>
            <td style="background-color:#CD7F32 ;">Bronze</td>
            <td>First timer</td>
            <td>Commented in the first time</td>
        </tr>
        <tr>
            <th scope="row">5</th>
            <td style="background-color:#CD7F32 ;">Bronze</td>
            <td>Rising Star</td>
            <td>Reached the leaderboard top 10</td>
        </tr>
        <tr>
          <th scope="row">6</th>
          <td style="background-color:#C0C0C0 ;"> Silver</td>
          <td>Big Game</td>
          <td>Reached the leaderboard top 3</td>
        </tr>
        <tr>
          <th scope="row">7</th>
          <td style="background-color:#FFD700 ;">Gold</td>
          <td>Top of the Pyramid</td>
          <td>Reached the leaderboard 1st place</td>
        </tr>
    </tbody>
  </table>
</div>

<div>
    <br>
    <h3>Review and Project badges</h3>
    <table class="table table-bordered table-hover border-dark w-auto text-center">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Rank</th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td style="background-color:#C0C0C0 ;"> Silver</td>
            <td>Middle Reviewer</td>
            <td>Assigned as a reviewer for 10 reviews in the same Project</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td style="background-color:#FFD700 ;">Gold</td>
            <td>Top reviewer</td>
            <td>Assigned as a reviewer for 50 reviews in the same Project</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td style="background-color:#CD7F32 ;">Bronze</td>
            <td>low participant</td>
            <td>Commented 2 times in a single review</td>
        </tr>
        <tr>
            <th scope="row">4</th>
            <td style="background-color:#C0C0C0 ;">Silver</td>
            <td>Highly Involved</td>
            <td>Writng most comments in a single closed Review</td>
        </tr>
        <tr>
          <th scope="row">5</th>
          <td style="background-color:#C0C0C0 ;">Silver</td>
          <td>Medium uploader</td>
          <td>Creating 10 Reviewes in a single project</td>
      </tr>
      <tr>
        <th scope="row">6</th>
        <td style="background-color:#FFD700 ;">Gold</td>
        <td>Big uploader</td>
        <td>Creating 25 Reviewes in a single project</td>
    </tr>
    </tbody>
  </table>
</div>

<div>
    <br>
    <h3>Timed badges</h3>
    <table class="table table-bordered table-hover border-dark w-auto text-center">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Rank</th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td style="background-color:#CD7F32 ;" > Bronze</td>
            <td>Low-rate Creator</td>
            <td>Created 3 new Reviewes in a week</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td style="background-color:#C0C0C0 ;">Silver</td>
            <td>Medium-rate Coreator</td>
            <td>Created 5 new Reviewes in a week</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td style="background-color:#FFD700 ;">Gold</td>
            <td>High-rate Creator</td>
            <td>Created 10 new Reviewes in a week</td>
        </tr>
        <tr>
            <th scope="row">4</th>
            <td style="background-color:#CD7F32 ;" > Bronze</td>
            <td>Daily Responder</td>
            <td>Write at least 1 Comment everyday in a week</td>
        </tr>
        <tr>
            <th scope="row">5</th>
            <td style="background-color:#C0C0C0 ;">Silver</td>
            <td>High Demand</td>
            <td>Get assigned to 3 reviewes in a week</td>
        </tr>
        <tr>
            <th scope="row">6</th>
            <td style="background-color:#FFD700 ;">Gold</td>
            <td>Popular</td>
            <td>Get assigned to 5 reviewes in a week</td>
        </tr>
    </tbody>
  </table>
</div>


</body>
</html>